In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [5]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [6]:
len(df.columns)

19

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [8]:
((df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60).std()

42.594351241920904

In [9]:
df['trip_duration'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [10]:
trips_1_to_60_min = df[(df['trip_duration'] >= 1) & (df['trip_duration'] <= 60)]

In [11]:
(len(trips_1_to_60_min) / len(df)) * 100

98.1220282212598

In [10]:
import pandas as pd

In [11]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet')

In [12]:
location_ids = df[['PULocationID', 'DOLocationID']].astype(str).to_dict(orient='records')

In [13]:
from sklearn.feature_extraction import DictVectorizer

In [14]:
vectorizer = DictVectorizer(sparse=False)

In [15]:
feature_matrix = vectorizer.fit_transform(location_ids)

MemoryError: Unable to allocate 11.8 GiB for an array with shape (3066766, 518) and data type float64

In [7]:
from sklearn.feature_extraction import DictVectorizer

In [8]:
dv = DictVectorizer(sparse=False)

In [9]:
feature_matrix = dv.fit_transform(data_dicts)

MemoryError: Unable to allocate 11.8 GiB for an array with shape (3066766, 518) and data type float64

In [10]:
feature_matrix = dv.fit_transform(data_dicts)

TypeError: Unsupported value Type <class 'pandas._libs.tslibs.timestamps.Timestamp'> for tpep_pickup_datetime: 2023-01-01 00:32:10.
<class 'pandas._libs.tslibs.timestamps.Timestamp'> objects are not supported.

In [ ]:
january_df = df[df['tpep_pickup_datetime'].dt.month == 1]

In [ ]:
num_columns = feature_matrix.shape[1]

In [ ]:
num_columns

In [ ]:
print(f'The dimensionality of the feature matrix is: {num_columns} columns')

In [29]:
january_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0

In [30]:
january_df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
2964618,1,2024-01-31 23:18:48,2024-01-31 23:38:05,NaN,3.90,NaN,None,90,238,0,21.90,1.0,0.5,4.03,0.0,1.0,30.93,NaN,NaN
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.0,0.5,2.00,0.0,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.0,0.5,2.34,0.0,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.0,0.5,0.00,0.0,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.0,0.5,5.58,0.0,1.0,33.46,NaN,NaN

In [31]:
((january_df['tpep_dropoff_datetime'] - january_df['tpep_pickup_datetime']).dt.total_seconds() / 60).std()

34.30123871238017

In [32]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [33]:
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [34]:
january_df = df[df['tpep_pickup_datetime'].dt.month == 1]

In [35]:
january_df['trip_duration_minutes'] = (january_df['tpep_dropoff_datetime'] - january_df['tpep_pickup_datetime']).dt.total_seconds() / 60

/tmp/ipykernel_15759/3068739215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_df['trip_duration_minutes'] = (january_df['tpep_dropoff_datetime'] - january_df['tpep_pickup_datetime']).dt.total_seconds() / 60

In [36]:
std_trip_duration_january = january_df['trip_duration_minutes'].std()

In [37]:
std_trip_duration_january

34.85113736077084

In [38]:
df.tail()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [39]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Filter the DataFrame to include only rows where the pickup datetime is in January
january_df = df[df['tpep_pickup_datetime'].dt.month == 1]

# Calculate the difference in minutes for the filtered DataFrame
january_df['trip_duration_minutes'] = (january_df['tpep_dropoff_datetime'] - january_df['tpep_pickup_datetime']).dt.total_seconds() / 60

# Calculate the standard deviation of the trip duration in minutes for January
std_trip_duration_january = january_df['trip_duration_minutes'].std()

std_trip_duration_january

/tmp/ipykernel_15759/258761708.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  january_df['trip_duration_minutes'] = (january_df['tpep_dropoff_datetime'] - january_df['tpep_pickup_datetime']).dt.total_seconds() / 60

34.85113736077084

In [40]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

# Calculate the trip duration in minutes
df['trip_duration_minutes'] = (df['tpep_dropoff_datetime'] - df['tpep_pickup_datetime']).dt.total_seconds() / 60

# Filter the DataFrame to keep only records where the trip duration is between 1 and 60 minutes
filtered_df = df[(df['trip_duration_minutes'] >= 1) & (df['trip_duration_minutes'] <= 60)]

# Calculate the fraction of records left
fraction_left = len(filtered_df) / len(df)

fraction_left

0.9778326020432945

In [ ]:
df['PULocationID'] = df['PULocationID'].astype(str)
df['DOLocationID'] = df['DOLocationID'].astype(str)

# Turn the DataFrame into a list of dictionaries
dicts = df.to_dict(orient='records')

# Fit a dictionary vectorizer
dv = DictVectorizer(sparse=False)
X = dv.fit_transform(dicts)

# Get the dimensionality of the matrix
dimensionality = X.shape[1]

dimensionality

In [ ]:
dimensionality

In [1]:
df

NameError: name 'df' is not defined

In [2]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2024-01.parquet')

NameError: name 'pd' is not defined

In [11]:
dimensionality

NameError: name 'dimensionality' is not defined

In [12]:
import pandas as pd
from sklearn.feature_extraction import DictVectorizer

In [13]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [14]:
df['PULocationID'] = df['PULocationID'].astype(str)
df['DOLocationID'] = df['DOLocationID'].astype(str)

# Turn the DataFrame into a list of dictionaries
dicts = df[['PULocationID', 'DOLocationID']].to_dict(orient='records')

# Fit a dictionary vectorizer
dv = DictVectorizer(sparse=False)
X = dv.fit_transform(dicts)

# Get the dimensionality of the matrix
dimensionality = X.shape[1]

dimensionality

MemoryError: Unable to allocate 11.5 GiB for an array with shape (2964624, 521) and data type float64

In [ ]:
dimensionality

In [ ]:
print(dimensionality)

In [15]:
 X.shape[1]

NameError: name 'X' is not defined

In [16]:
df['PULocationID'] = df['PULocationID'].astype(str)
df['DOLocationID'] = df['DOLocationID'].astype(str)

# Turn the DataFrame into a list of dictionaries
dicts = df[['PULocationID', 'DOLocationID']].to_dict(orient='records')

# Fit a dictionary vectorizer
dv = DictVectorizer(sparse=False)
X = dv.fit_transform(dicts)

MemoryError: Unable to allocate 11.5 GiB for an array with shape (2964624, 521) and data type float64

In [ ]:
X.shape[1]